.article__container {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
  width: 100%;
}


.article__footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);

  @include breakpoint(small-up) {
    flex-direction: row;
    gap: var(--space-small);
    justify-content: space-between;
  }
}

.social-share__success-message {
  background-color: var(--color-background);
  padding: 0.3em;
  position: absolute;
  line-height: var(--font-heading-line-height);
}

.article__content {
  --article-spacing: 1.5em;
  
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-top: var(--article-spacing);
  }
  
  & h1,
  & h2,
  & h3,
  & h4 {
    font-family: var(--font-face-heading);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    letter-spacing: var(--font-heading-letter-spacing);
    line-height: var(--font-heading-line-height);
    text-transform: var(--font-heading-text-transform);
  }
  
  & h1 {
    font-size: var(--font-heading-size-medium);
  }
  
  & h2 {
    font-size: var(--font-heading-size-medium);
  }
  
  & h3 {
    font-size: var(--font-heading-size-small);
  }
  
  & h4 {
    font-size: var(--font-copy-size-large);
  }
  
  & h5 {
    font-size: var(--font-copy-size-large);
    font-weight: bold;
  }
  
  & h6 {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  & img,
  & iframe,
  & video {
    height: auto;
    margin-top: var(--article-spacing);
    max-width: 100%;
    width: 100%;
  }
  
  & iframe,
  & video {
    aspect-ratio: 16/9;
  }
  
  & ol,
  & ul,
  & li,
  & p,
  & div {
    margin-top: var(--article-spacing);
  }
  
  & li {
    list-style: inherit;
  }

  & ol {
    counter-reset: custom-number-counter;
    margin-left: 0;
  }

  & ol li {
    counter-increment: custom-number-counter;
    display: flex;
    gap: 0.6rem;
    list-style-type: none;
  }

  & ol li div {
    margin-top: 0;
  }

  & ol li::before {
    color: var(--color-poppy);
    content: counter(custom-number-counter) ".";
    font-family: var(--font-face-mono);
    font-size: 2rem;
    font-weight: var(--font-copy-bold-weight);
    flex: none;
    margin-top: -1.1rem;
  }
  
  & blockquote {
    border-left: 3px solid var(--color-poppy);
    font-family: var(--font-face-quote);
    font-size: var(--font-copy-size-large);
    font-style: italic;
    line-height: var(--font-copy-line-height);
    margin-top: var(--article-spacing);
    padding: var(--space-medium) 0 var(--space-medium) 2.5rem;
    position: relative;

    @media screen and (min-width: 1150px) {
      font-size: var(--font-copy-size-xlarge);
      // margin-left: -5rem;
      // margin-right: -5rem;
    }
  }

  & blockquote::before {
    background-color: var(--color-background);
    content: "";
    top: 50%;
    left: -17px;
    position: absolute;
    display: block;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
  }

  & blockquote::after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.25 16.25" height="35" width="35"><path d="m6.69,4.55c.94,1.04.83,2.71.83,3.06-.11,2.42-3.04,4.79-3.42,5.02l-1.05-1.27c.99-.75,2.54-2.42,2.71-3.58-.22.12-.5.17-.77.17-1.22,0-2.1-.98-2.1-2.13,0-1.27.88-2.19,2.1-2.19.72,0,1.27.35,1.71.92Zm6.68,3.06c-.11,2.42-3.04,4.79-3.42,5.02l-1.05-1.27c.99-.75,2.54-2.42,2.71-3.58-.22.12-.5.17-.77.17-1.22,0-2.1-.98-2.1-2.13,0-1.27.88-2.19,2.1-2.19.72,0,1.27.35,1.71.92.94,1.04.83,2.71.83,3.06Z" fill="%23ff053f"/></svg>');
    content: "";
    top: 50%;
    left: -17px;
    position: absolute;
    display: block;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
  }
  
  & table {
    border: var(--border--thin);
    margin-top: var(--article-spacing);
  }
  
  & tr {
    border-bottom: var(--border--thin);
  }
  
  & > *:first-child {
    margin-top: 0;
  }

  & > p:first-of-type {
    font-size: 1.05em;
    font-style: italic;
    text-align: center;

    &::after {
      content: '';
      display: block;
      border-bottom: 3px solid var(--color-poppy);
      width: 125px;
      height: 1.75rem;
      margin: 0 auto;
    }
  }
}