.banner {
  position: relative;
}

.banner__container {
  position: relative;
  width: 100%;
  z-index: var(--z-index-base);
}

.banner__media {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.banner__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banner__subtitle {
  font-size: 1.1rem;

  @include breakpoint(small-up) {
    font-size: 1.25rem;
    max-width: 55ch;
  }
}

.banner__image--desktop--only {
  @include breakpoint(small-down) {
    display: none;
  }
}

.banner__image--mobile {
  margin-top: var(--space-large);

  @include breakpoint(small-up) { 
    display: none;
  }
}
