.banner {
  position: relative;
}

.banner__container {
  position: relative;
  width: 100%;
  z-index: var(--z-index-base);
}

.banner__media {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.banner__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banner__image--desktop--only {
  @include breakpoint(small-down) {
    display: none;
  }
}

.banner__image--mobile {
  @include breakpoint(small-up) { 
    display: none;
  }
}

.banner__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  padding: var(--space-small) var(--space-viewport-sides) var(--space-xlarge);
  position: relative;
  max-width: 100%;
  width: 100%;

  p {
    text-align: center;
  }

  @include breakpoint(small-up) {
    align-items: unset;
    z-index: var(--z-index-overlay);

    p {
      text-align: left;
    }
  }
}
