.site-header {
  z-index: var(--z-index-site-header);
  
  @include breakpoint(xsmall-up) {
    display: grid;
    grid-template-areas: "logo nav";
    grid-template-columns: max-content 1fr;
  }
}

.site-header__logo-link {
  grid-area: logo;

  @include breakpoint(xsmall-down) {
    display: block;
    margin: 0 auto var(--space-large);
    width: max-content;
  }
}

.site-header__logo {
  height: var(--logo-height);
  width: auto;
}

.site-header__nav {
  grid-area: nav;
}

.site-header__nav-list {
  align-items: center;
  display: flex;
  justify-content: end;
  margin-top: -1rem;

  @include breakpoint(xsmall-down) {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.site-header__nav-link {
  font-weight: var(--font-copy-semibold-weight);
  text-decoration-color: transparent;
}

.site-header__nav-link:hover {
  text-decoration-color: var(--color-link-underline);
}