.site-header {
  display: grid;
  grid-template-areas: "logo nav";
  grid-template-columns: max-content 1fr;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-site-header);
}

.site-header__logo-link {
  grid-area: logo;
}

.site-header__logo {
  height: var(--logo-height);
  width: auto;
}

.site-header__nav {
  grid-area: nav;
}

.site-header__nav-list {
  display: flex;
  gap: var(--space-medium);
  justify-content: end;
}

.site-header__nav-link {
  text-decoration-color: transparent;
}

.site-header__nav-link:hover {
  text-decoration-color: var(--color-link-underline);
}