.site-footer {
  position: relative;
  z-index: var(--z-index-footer);
}

.site-footer__container {
  text-align: center;
}

.site-footer__form-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
}

.site-footer__button:hover {
  border-color: var(--button-text-color--hover);
}

.site-footer__top-shape {
  -webkit-clip-path: url(#solid-waves-angle-top-down);
  clip-path: url(#solid-waves-angle-top-down);
  height: 9vh;
  left: -2px;
  position: relative;
  top: 1px;
  width: 100%;
}