<ul class="blog__article-list list--unstyled">
{% for article in articles | reverse %}
  <li class="blog__article-item">
    <article class="blog__article-excerpt">
      <h2 class="type--heading title--xsmall">
        <a href="{{ article.url | url }}">
          {{ article.data.title }}
        </a>
      </h2>
      <small class="copy--small">
        <time>
          {{ article.data.date | readableDate }}
        </time>
      </small>
      <p class="space--mv--medium">
        {{ article.data.excerpt }}
      </p>
      {% if page.fileSlug == 'blog' %}
        <a class="button button--tag button--secondary" href="/blog/{{ article.data.category }}">
          {{ article.data.category }}
        </a>
      {% endif %}
    </article>
  </li>
{% endfor %}
</ul>