<footer class="site-footer color--bg-burgundy page-layout__footer space--pb--small" role="contentinfo">
  <!-- Begin Mailchimp Signup Form -->
  <div class="site-footer__container container--page">
    <div class="site-footer__newsletter space--pv--large" id="mc_embed_signup">
      <form action="https://coquelicot.us20.list-manage.com/subscribe/post?u=077af87ee7039699c151b12be&amp;id=5a3c15d50a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="site-footer__form-container" id="mc_embed_signup_scroll">
          <h2 class="title--small type--heading">
            Keep in touch
          </h2>
          <p class="container--small">
            Hear first about our new themes and updates. We'll never spam you or share your info.
          </p>
          <div class="container--small element--full-width flex--none">
            <label class="space--mb--xsmall display--hidden" for="mce-EMAIL">
              Email Address
            </label>
            <input type="email" value="" name="EMAIL" class="" id="mce-EMAIL" placeholder="Email address">
          </div>
          <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_077af87ee7039699c151b12be_5a3c15d50a" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button site-footer__button">
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
    <div class="site-footer__copyright">
      <div class="align--text-center">
        <svg-icon
          src="/assets/sprite.svg#coquelicot-icon"
          class="color--poppy"
          height="82"
          width="90"
          aria-hidden="true"
          focusable="false">
        </svg-icon>
        <span class="copy--xsmall color--poppy">
          © 2022, Coquelicot LLC.
        </span>
      </div>
    </div>
  </div>
</footer>