<footer class="site-footer page-layout__footer space--viewport-sides align--text-center space--mt--large space--mb--small" role="contentinfo">
  <svg-icon
    src="/assets/sprite.svg#coquelicot-icon"
    class="color--poppy"
    height="82"
    width="90"
    aria-hidden="true"
    focusable="false">
  </svg-icon>
  <span class="copy--xsmall">© 2022, Coquelicot LLC.</span>
</footer>