{% set navItems = collections.all | eleventyNavigation %}
<header role="banner" class="page-layout__header site-header space--viewport-sides space--pv--large">
  <a href="/" class="site-header__logo-link">
    <img src="../assets/images/coquelicot-watermark.svg" alt="Coquelicot" class="site-header__logo">
  </a>
  <nav class="site-header__nav" role="navigation" aria-label="main navigation" >
    <ul class="site-header__nav-list list--unstyled">
      {%- for item in navItems -%}
        <li class="site-header__nav-item {{ ' active' if page.url === item.url }}">
          <a href="{{ item.url }}" class="site-header__nav-link">
            {{ item.key }}
            </a>
        </li>
      {%- endfor -%}
      <li>
        <a class="link--icon" href="https://twitter.com/coquelicot_io" target="_blank" rel="noopener">
          <svg-icon
            src="/assets/sprite.svg#twitter"
            height="24"
            width="24"
            aria-hidden="true"
            focusable="false">
          </svg-icon>
          <span class="screen-reader-only">Twitter</span>
        </a>
      </li>
      <li>
        <a class="link--icon" href="https://www.linkedin.com/company/coquelicot-design-development/" target="_blank" rel="noopener">
          <svg-icon
              src="/assets/sprite.svg#linkedin"
              height="24"
              width="24"
              aria-hidden="true"
              focusable="false"
          ></svg-icon>
          <span class="screen-reader-only">LinkedIn</span>
        </a>
      </li>
    </ul>
  </nav>
</header>