/*===============================*/
/*          breakpoints          */
/*===============================*/

$breakpoint-xsmall : 550px;
$breakpoint-small : 768px;
$breakpoint-medium : 900px;
$breakpoint-large : 990px;
$breakpoint-xlarge : 1200px;

$unset-breakpoints: (
  "--xsmall-down": "xsmall-down",
  "--small-down": "small-down",
  "--medium-down": "medium-down",
  "--large-down": "large-down"
);

@mixin breakpoint($point) {
  @if $point == xsmall-down {
    @media screen and (max-width: $breakpoint-xsmall - 1) {
      @content;
    }
  }
  @else if $point == xsmall-up {
    @media screen and (min-width: $breakpoint-xsmall) {
      @content;
    }
  }
  @else if $point == small-up {
    @media screen and (min-width: $breakpoint-small) {
      @content;
    }
  }
  @else if $point == small-down {
    @media screen and (max-width: ($breakpoint-small - 1)) {
      @content;
    }
  }
  @else if $point == medium-up {
    @media screen and (min-width: $breakpoint-medium) {
      @content;
    }
  }
  @else if $point == medium-down {
    @media screen and (max-width: ($breakpoint-medium - 1)) {
      @content;
    }
  }
  @else if $point == large-up {
    @media screen and (min-width: $breakpoint-large) {
      @content;
    }
  }
  @else if $point == large-down {
    @media screen and (max-width: ($breakpoint-large - 1)) {
      @content;
    }
  }
  @else if $point == xlarge-up {
    @media screen and (min-width: $breakpoint-xlarge) {
      @content;
    }
  }
  @else if $point == xlarge-down {
    @media screen and (max-width: ($breakpoint-xlarge - 1)) {
      @content;
    }
  }
  @else {
    @error "There's an invalid breakpoint in the app that isn't declared in the breakpoints mixin.";
  }
}