:root {
  --color-poppy-raw: 346, 100%, 51%;
  --color-poppy--muted: hsl(346, 97%, 46%);
  --color-poppy: hsl(var(--color-poppy-raw));
  --color-cardinal-raw: 346, 98%, 38%;
  --color-cardinal: hsl(var(--color-cardinal-raw));
  --color-burgundy-raw: 343, 63%, 17%;
  --color-burgundy: hsl(var(--color-burgundy-raw));
  --color-foreground-raw: 8, 100%, 3%;
  --color-foreground: hsl(var(--color-foreground-raw));
  --color-background-raw: 0, 0%, 97%;
  --color-background: hsl(var(--color-background-raw));

  --color-border: hsla(var(--color-foreground-raw), 0.5);
  --color-action: var(--color-poppy);
  --color-action-raw: var(--color-poppy-raw);
  --color-action-contrast: var(--color-background);

  --space-xsmall: 0.33rem;
  --space-small: 0.66rem;
  --space-medium: 1rem;
  --space-large: 2rem;
  --space-xlarge: 4rem;
  --space-viewport-sides: var(--space-medium);
  --space-grid-gap: var(--space-large);

  --font-size-base: 16px;
  --font-face-copy: "Poppins", sans-serif;
  --font-face-heading: "Poppins", sans-serif;
  --font-heading-base-size: 2.6rem;
  --font-heading-size-large: var(--font-heading-base-size);
  --font-heading-size-medium: calc(var(--font-heading-base-size) * 0.8);
  --font-heading-size-small: calc(var(--font-heading-base-size) * 0.6);
  --font-heading-size-xsmall: 1.3rem;
  --font-heading-weight: 500;
  --font-heading-line-height: 1.2;
  --font-copy-size-large: 1.25rem;
  --font-copy-size-small: 0.9rem;
  --font-copy-size-xsmall: 0.775rem;
  --font-copy-size-xxsmall: 0.7rem;
  --font-copy-line-height: 1.5;
  --font-copy-bold-weight: 600;
  --form-element-height: 44px;

  --container-max-width-copy: 45rem;
  --container-width-form: 38ch;
  --container-width-large: 62rem;
  --container-width-medium: 40rem;
  --container-width-small: 24rem;
  --page-width: 100rem;
  --logo-height: 6rem;

  --link-underline-offset: 0.15em;
  --border-size: 1px;
  --border: var(--border-size) solid var(--color-border);
  --border-radius: 0;

  --transition-duration: 200ms;
  --transition-timing-function: ease;

  --z-index-hidden: -1;
  --z-index-background: 0;
  --z-index-base: 1;
  --z-index-overlay: 2;
  --z-index-overlay-interaction: 3;
  --z-index-footer: 5;
  --z-index-site-header: 10;


  @include breakpoint(xsmall-up) {
    --logo-height: 8rem;
  }

  @include breakpoint(small-up) {
    --logo-height: 11rem;
    --space-viewport-sides: var(--space-large);
  }
}
