---
layout: page
---

<article class="article space--mb--large container--page">
  <header class="space--mb--large align--text-center">
    <a class="category" href="/blog/{{ category }}">{{ category }}</a>
    <h1 class="type--heading title--large space--mb--small">
      {{ title }}
    </h1>
    <p>
      Published: <time>{{ date | readableDate }}</time>
    </p>
  </header>
  <div class="article__content">
    {{ content | safe }}
  </div>
</article>