.color--poppy {
  color: var(--color-poppy);
  fill: currentColor;
}

.color--cardinal {
  color: var(--color-cardinal);
  fill: currentColor;
}

.color--burgundy {
  color: var(--color-burgundy);
  fill: currentColor;
}