/* element */
.element--border-radius {
  border-radius: var(--border-radius);
}

.element--border-radius-square {
  border-radius: var(--border-radius-square);
}

.element--border {
  border-width: var(--border-size);
  border-style: solid;
  border-color: var(--color-border);
}

.element--border-top {
  border-top-width: var(--border-size);
  border-top-style: solid;
  border-top-color: var(--color-border);
}

.element--border-bottom {
  border-bottom-width: var(--border-size);
  border-bottom-style: solid;
  border-bottom-color: var(--color-border);
}

.element--border-left {
  border-left-width: var(--border-size);
  border-left-style: solid;
  border-left-color: var(--color-border);
}

.element--border-right {
  border-right-width: var(--border-size);
  border-right-style: solid;
  border-right-color: var(--color-border);
}

.element--full-width {
  width: 100%;
}

.element--full-height {
  height: 100%;
}

/* Shapes */
.element--aspect-ratio-portrait {
  aspect-ratio: 3 / 4;
  height: 100%;
  width: 100%;
}

.element--aspect-ratio-landscape {
  aspect-ratio: 4 / 3;
  height: 100%;
  width: 100%;
}

.element--aspect-ratio-square,
.element--aspect-ratio-hexagon,
.element--aspect-ratio-circle,
.element--aspect-ratio-arch {
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
}

.element--aspect-ratio-hexagon {
  aspect-ratio: 1.2;
}

.element--shape-container {
  height: 100%;
  position: relative;
}

.element--circle {
  -webkit-clip-path: ellipse(50% 50% at 50% 50%);
  clip-path: ellipse(50% 50% at 50% 50%);
}

.element--arch {
  -webkit-clip-path: url(#arch-shape);
  clip-path: url(#arch-shape);
}

.element--hexagon {
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* object */
.object-position--top-left {
  object-position: left top;
}

.object-position--top-center {
  object-position: center top;
}

.object-position--top-right {
  object-position: right top;
}

.object-position--middle-left {
  object-position: left center;
}

.object-position--middle-center {
  object-position: center center;
}

.object-position--middle-right {
  object-position: right center;
}

.object-position--bottom-left {
  object-position: left bottom;
}

.object-position--bottom-center {
  object-position: center bottom;
}

.object-position--bottom-right {
  object-position: right bottom;
}

@include breakpoint(small-down) {
  .object-position--top-left--small-down {
    object-position: left top;
  }

  .object-position--top-center--small-down {
    object-position: center top;
  }

  .object-position--top-right--small-down {
    object-position: right top;
  }

  .object-position--middle-left--small-down {
    object-position: left center;
  }

  .object-position--middle-center--small-down {
    object-position: center center;
  }

  .object-position--middle-right--small-down {
    object-position: right center;
  }

  .object-position--bottom-left--small-down {
    object-position: left bottom;
  }

  .object-position--bottom-center--small-down {
    object-position: center bottom;
  }

  .object-position--bottom-right--small-down {
    object-position: right bottom;
  }
}
