.type--heading {
  font-family: var(--font-face-heading);
  font-style: normal;
  font-weight: var(--font-heading-weight);
  letter-spacing: var(--font-heading-letter-spacing);
}

.type--body {
  font-family: var(--font-face-copy);
  font-weight: var(--font-copy-weight);
}

.title--large {
  font-size: var(--font-heading-size-large);
  line-height: var(--font-heading-line-height);
}

.title--medium {
  font-size: var(--font-heading-size-medium);
  line-height: var(--font-heading-line-height);
}

.title--small {
  font-size: var(--font-heading-size-small);
  line-height: var(--font-heading-line-height);
}

.title--xsmall {
  font-size: var(--font-heading-size-xsmall);
  line-height: var(--font-heading-line-height);
}

.copy--large {
  font-size: var(--font-copy-size-large);
}

.copy--medium {
  font-size: 1rem;
}

.copy--default {
  font-family: var(--font-face-copy);
  font-size: 1rem;
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  line-height: var(--font-copy-line-height);
  text-transform: none;
  letter-spacing: 0;
}

.copy--small {
  font-size: var(--font-copy-size-small);
}

.copy--xsmall {
  font-size: var(--font-copy-size-xsmall);
}

.copy--eyebrow {
  font-family: var(--font-face-copy);
  font-weight: var(--font-copy-extrabold-weight);
  letter-spacing: 0.15em;
  line-height: 1.2;
  text-transform: uppercase;
}

.copy--extrabold {
  font-weight: var(--font-copy-extrabold-weight);
}

.copy--bold {
  font-weight: var(--font-copy-bold-weight);
}

.copy--semibold {
  font-weight: var(--font-copy-semibold-weight);
}

.copy--italic {
  font-style: oblique;
}

.copy--mono {
  font-family: var(--font-face-mono);
}

.line-height--heading {
  line-height: var(--font-heading-line-height);
}

.line-height--copy {
  line-height: var(--font-copy-line-height);
}

.line-height--short {
  line-height: 1.1;
}

.type--word-break {
  word-break: break-word;
}

.type--no-wrap {
  white-space: nowrap;
}

.type--strikethrough {
  text-decoration: line-through;
}

.type--highlight {
  position: relative;

  &::before {
    background-color: hsla(var(--color-poppy-raw), 0.15);
    bottom: 0;
    content: "";
    height: 60%;
    left: -2px;
    position: absolute;
    transform: rotate(-2deg);
    width: calc(100% + 4px);
    z-index: -1;
  }
}

.link--no-underline {
  text-decoration-color: transparent;
}

.link--no-underline:hover {
  text-decoration-color: hsla(var(--color-poppy-raw), 0.4);
}

.link--icon {
  text-decoration: none;
}

.link--icon:hover svg-icon {
  color: var(--color-poppy--muted);
  transition-duration: var(--transition-duration);
  transition-property: color, fill;
  transition-timing-function: var(--transition-timing-function);
}
