---
layout: page
title: "Blog"
eleventyNavigation:
    key: Blog
    order: 3
pagination:
  data: collections.blog
  size: 10
  alias: articles
---

<div class="space--mb--large">
  <h1 class="type--heading title--large align--text-center space--mb--large">
    {{ title }}
  </h1>
  <div class="container--page container--large">
    {% include "./_includes/components/categoryNav.njk" %}
    <p>This view contains a list of all blogposts sorted from newest to oldest.</p>

    {% include "./_includes/components/articleList.njk" %}
  </div>
</div>