---
layout: page
pagination:
  data: collections.categoryList
  size: 1
  alias: cat
permalink: "/blog/{{ cat.key }}/"
eleventyComputed:
  title: Articles under "{{ cat.name }}"
---

<div class="space--mb--large">
  <div class="blog container--page">
    <aside class="blog__categories">
      {% include "./_includes/components/categoryNav.njk" %}
    </aside>
    <section class="blog__posts">
      <h1 class="type--heading title--large space--mb--large">
        {{ title }}
      </h1>
      {% set articles = collections.categories[cat.key] | reverse %}
      {% include "./_includes/components/articleList.njk" %}
    </section>
  </div>
</div>